 

	<div class='navBar'>
		<div class="dropdown">
		<button onclick="gh_dropdown()" class="dropbtn">GH writing</button>s
            <div id="ghDropdown" class="dropdown-content">
                    <a href='gh_writings/Saidal.html'>Saidal</a>
                    <a href='gh_writings/Ifralimane.html'>Ifralimane</a>
                    <a href='gh_writings/Gharstir.html'>Gharstir</a>
                    <a href='gh_writings/Fendikyah.html'>Fendikyah</a>
                </div>
                </div>
                <div class="dropdown">
                <button onclick="article_dropdown()" class="dropbtn">Articles</button>
                <div id="artDropdown" class="dropdown-content">
                    <a href='articles/discoelysium.html'>Disco Elysium: One day I will return to your side.</a>
                    <a href='articles/mrrobot.html'>Mr Robot: The possible cripples reality.</a>
                    <a href='articles/hyperion.html'>Hyperion: And what rough beast, its hour come round at last, slouches towards Bethlehem to be born ? </a>
            </div>
		</div>
        <a href="contact.asp">Contact</a>
        <a href="about.asp">About</a>
	</div> 