{% extends 'blog/base.html' %}

{% block content %}
    <main>
        <div class="row">
            <div class="col">
                <article class="post">

                    <aside class="actions">
                        
                        {% if post.published_date is not None %}
                        <time class="date">
                            {{ post.published_date }}
                        </time>
                        {% else %}
                            <a type="button" class="btn btn-outline-secondary" href="{% url 'post_publish' pk=post.pk %}">
                                {% include './icons/publish.svg' %}
                            </a>
                        {% endif %}

                        {% if user.is_authenticated %}
                            <a type="button" class="btn btn-outline-secondary" href="{% url 'post_edit' pk=post.pk %}">
                                {% include './icons/pencil-fill.svg' %}
                            </a>
                            <a type="button" class="btn btn-outline-secondary" href="{% url 'post_remove' pk=post.pk %}">
                                {% include './icons/delete.svg' %}
                            </a>
                        {% endif %}
                    
                    </aside>

                    <h1>{{ post.title }}</h1>
                    <p>{{ post.text|linebreaksbr }}</p>

                </article>
            </div>
        </div>
    </main>
{% endblock %}