<!DOCTYPE html>
<html>
<head>
<title>True Neutral</title>
</head>
<body>

 <div class='navBar'>
    <div class="dropdown">
	  <button onclick="gh_dropdown()" class="dropbtn">GH writing</button>
	  <div id="ghDropdown" class="dropdown-content">
		<a href='gh_writings/Saidal.html'>Saidal</a>
		<a href='gh_writings/Ifralimane.html'>Ifralimane</a>
		<a href='gh_writings/Gharstir.html'>Gharstir</a>
		<a href='gh_writings/Fendikyah.html'>Fendikyah</a>
	  </div>
	</div>
	<div class="dropdown">
	  <button onclick="article_dropdown()" class="dropbtn">Articles</button>
	  <div id="artDropdown" class="dropdown-content">
		<a href='articles/discoelysium.html'>Disco Elysium: One day I will return to your side.</a>
		<a href='articles/mrrobot.html'>Mr Robot: The possible cripples reality.</a>
		<a href='articles/hyperion.html'>Hyperion: And what rough beast, its hour come round at last, slouches towards Bethlehem to be born ? </a>
	  </div>
	</div>
  <a href="contact.asp">Contact</a>
  <a href="about.asp">About</a>
</div> 


<h1>True Neutral</h1>
<p class='subtitle'>And other experiences you don't want to happen to you</p>

<p>This blog is essentially a way to vent in anyway possible, kinda like my homesite back when internet was something real.</p>

<p>
	<h3 class='listheader'>My writings for Godherja</h3>
	<p>I was accepted into the writing team of the Godherja Universe. This is (as of now) a CK3 Mod and a couple of novels. In this universe, a cosmic entity created the world and humans out of loneliness, but we were incapable of apprehending its nature. Therefore, this entity known as Aersanon created another race, the Aelfir. They were quick to enslave humanity with the approval of their master. After humanity rebelled they killed their god and reality never stopped degrading since. Colors change, gravity shifts, perception and physics crumble... The story takes place thousands of years later when a master blood mage starts a civil war in the greatest empire of man, Aversaria. To ensure victory, he triggers a mass destruction spell so powerful it finally broke the fabric of the universe, precipitating what was already inevitable: reality's collapse.</p>
	<p>I mainly wrote a series of fictional pilgrimages for many religions in this world, such as a religion worshipping gigantic statues left by the Aelfir which are interpreted as dormant gods.</p>
	<p>This was fun but work, summer and health problems pushed me away and I stopped collaborating with them. I kind of regret though, really; although it was hard for me to keep up. But my experience carries on in my other creative works.</p>
</p>

{% for post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p><b>{{ post.text|linebreaksbr }}</b></p>
    </article>
{% endfor %}

<p>
The next thing to be done on this website is to make a real header, to play around with js and to add my contact/about
</p>

<script src='js/dropdown.js'></script>

</body>
</html> 