{% extends 'blog/base.html' %}

{% block content %}

    <p>
        <h3 class='listheader'>My writings for Godherja</h3>
        <p>I was accepted into the writing team of the Godherja Universe. This is (as of now) a CK3 Mod and a couple of novels. In this universe, a cosmic entity created the world and humans out of loneliness, but we were incapable of apprehending its nature. Therefore, this entity known as Aersanon created another race, the Aelfir. They were quick to enslave humanity with the approval of their master. After humanity rebelled they killed their god and reality never stopped degrading since. Colors change, gravity shifts, perception and physics crumble... The story takes place thousands of years later when a master blood mage starts a civil war in the greatest empire of man, Aversaria. To ensure victory, he triggers a mass destruction spell so powerful it finally broke the fabric of the universe, precipitating what was already inevitable: reality's collapse.</p>
        <p>I mainly wrote a series of fictional pilgrimages for many religions in this world, such as a religion worshipping gigantic statues left by the Aelfir which are interpreted as dormant gods.</p>
        <p>This was fun but work, summer and health problems pushed me away and I stopped collaborating with them. I kind of regret though, really; although it was hard for me to keep up. But my experience carries on in my other creative works.</p>
    </p>
    
    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}