h1 a, h2 a {
    color: #C25100;
    font-family: 'Ubuntu';
}


#header {
    font-family: 'Ubuntu';
    padding-bottom: 10px;
    padding-top: 20px;
}

#sub_header {
    font-family: 'Ubuntu';
}

body {
    padding-left: 15px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}
